# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.gitignore.io/api/netbeans
/Mirt/nbproject/private/
/Test1/nbproject/private/
/Example/nbproject/private/
/accesTest/nbproject/private/